<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>

</head>
<body>
	<p>
		<a href="pagina-usuario/Frodo">Página para ver un usuario (GET)</a>
	</p>
	<p>
		<a href="pagina-todos-usuarios">Página para ver todos los usuarios (GET)</a>
	</p>
	<p>
		<a href="pagina-crear-usuario">Formulario para guardar un usuario (POST)</a>
	</p>
	<p>
		<a href="pagina-borrar-usuario">Página para borrar un usuario (DELETE)</a>
	</p>
	<p>
		<a href="pagina-update-usuario">Pagina para hacer update de un usuario (PUT)</a>
	</p>
</body>
</html>	